{
  "overrides": [
    {
      "files": ["**/*.vue"],
      "options": {
        "parser": "vue",
        "singleQuote": true,
        "printWidth": 120
      }
    },
    {
      "files": ["**/*.ts"],
      "options": {
        "parser": "typescript",
        "singleQuote": true,
        "printWidth": 120
      }
    },
    {
      "files": "**/*.json",
      "options": {
        "parser": "json",
        "printWidth": 120
      }
    }
  ]
}
